.renderjson                { background-color: lightgrey }
.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: crimson;
                             font-size: 150%; }
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: red; }
.renderjson .number        { color: cyan; }
.renderjson .boolean       { color: plum; }
.renderjson .key           { color: blue; }
.renderjson .keyword       { color: goldenrodyellow; }
.renderjson .object.syntax { color: seagreen; }
.renderjson .array.syntax  { color: salmon; }